stages:
  - check:static
  - check:tests
#  - build:prepare
#  - release

# default rules for jobs execution
workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always

dart-formatter:
  #  image: mobiledevops/flutter-sdk-image:3.10.3
  image: growerp/flutter-sdk-image:3.22.1
  stage: check:static
  interruptible: true
  script: dart format --set-exit-if-changed .

dart-analyzer:
  #  image: mobiledevops/flutter-sdk-image:3.10.3
  image: growerp/flutter-sdk-image:3.22.1
  stage: check:static
  interruptible: true
  script:
    - dart info
    - flutter analyze --fatal-infos --fatal-warnings

code-generation-mismatch-check:
  #  image: mobiledevops/flutter-sdk-image:3.10.3
  image: growerp/flutter-sdk-image:3.22.1
  stage: check:static
  interruptible: true
  script:
    - rm pubspec.lock
    - flutter pub get
    - flutter pub run dep_gen:generate -p lib/domain/environment
    - flutter pub run build_runner build --delete-conflicting-outputs --fail-on-severe
    - (( $(git status --untracked-files=no --porcelain|wc -l) == 0 )) || { echo >&2 "Some changes in generated files detected"; exit 1; }

#generate-skia-shaders-cache:
#  image: volkovpishet/flutter-android:1
#  stage: build:prepare
#  when: manual
#  cache:
#    policy: push
#    paths:
#      - flutter_shaders_warm_up_data.sksl.json
#  script:
#    - run-emulator
#    - flutter drive --profile --cache-sksl --purge-persistent-cache --write-sksl-on-exit flutter_shaders_warm_up_data.sksl.json --driver=test_driver/integration_test.dart --target=test/shaders_warm_up_test.dart

tests:
  #  image: mobiledevops/flutter-sdk-image:3.10.3
  image: growerp/flutter-sdk-image:3.22.1
  stage: check:tests
  script:
    - flutter test

#release:android:
#  image: volkovpishet/flutter-android:1
#  cache:
#    policy: pull
#    paths:
#      - flutter_shaders_warm_up_data.sksl.json
#  before_script:
#    - echo ${ANDROID_SERVICE_ACCOUNT_API_KEY} > android/pc-api-8001975366575556685-777-dd7767eaa5b6.json
#    - echo -e ${ANDROID_KEY_PROPERTIES} > android/key.properties
#    - echo -n ${ANDROID_SIGNING_JKS_AS_BASE64_STRING} | base64 -d > android/app/upload-keystore.jks
#  stage: release
#  when: manual
#  script:
#    - flutter pub get
#    - flutter build appbundle --bundle-sksl-path flutter_shaders_warm_up_data.sksl.json
#    - cd android
#    - bundle install
#    - bundle exec fastlane release

#release:ios:
#  before_script:
#    - echo -n ${IOS_APP_STORE_CONNECT_API_KEY} > ios/fastlane/fastlane-api-key.json
#    - echo -e "${IOS_MATCH_SSH_KEY_TO_APP_SECRETS_REPO}" > ios/fastlane/match-repo-key.rsa
#    - chmod 400 ios/fastlane/match-repo-key.rsa
#  stage: release
#  when: manual
#  tags:
#    - macos
#    - nix
#    - xcode13.1
#  script:
#    - HOME_NAME=mobx-counter-app-home BUNDLER_VERSION=2.2.28 bash <(curl -s https://raw.githubusercontent.com/volkovpishet/flutter-chamber/master/flutter_chamber.sh) "flutter pub get && flutter build ios --release --no-codesign && cd ios && bundle install && LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8 bundle exec fastlane release"